<!-- Creamos un div para registrarse, con sus inputs para el email, la contraseña y repetir contraseña -->
<div class="mt-5 pt-5 text-truncate">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6"><h1 class="text-center rickFuente">Regístrate</h1></div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div>
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Direcció de correo electrónico</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">No compartiremos tu contraseña con nadie.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Repetir contraseña</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-warning">Registrarse</button>
                </form>
            </div>
        </div>
        <div class="col-3"></div>
    </div>    
</div>
